<!DOCTYPE html>
<html>
  <head>
    <title>OPNoobs</title>
    <% if (showTests) { %><link rel="stylesheet" href="/vendor/mocha.css"><% } %>
  </head>
  <body>
    <h1>Hello world!</h1>
  </body>
</html>
